.profile {
  margin: 0 auto;
  padding-top: 20px;
  width: 300px;

  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.avatar {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;

  text-align: center;
}

.tag {
  margin-bottom: 5px;

  font-size: 16px;
  text-align: center;

  color: #757575;
}

.location {
  margin-bottom: 15px;

  font-size: 16px;
  text-align: center;

  color: #757575;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #757575;
  background-color: #eeeeee;
}

.label {
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.quantity {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.statsItem {
  display: flex;
  flex-direction: column;

  width: 33%;
  padding: 10px;
}

.statsItem:not(:last-child) {
  border-right: 1px solid #757575;
}
