.statistics {
  padding: 20px 40px;
}

.title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;

  color: #212121;
}
.statList {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;

  padding: 10px 20px;
  background-color: #eee;
}
.item:not(:last-child) {
  border-right: 1px solid #757575;
}

.label {
  font-size: 14px;
  font-weight: 500;

  text-align: center;

  margin-bottom: 10px;

  color: #757575;
}

.percentage {
  font-size: 18px;
  font-weight: 500;

  text-align: center;
}
